{% extends 'base.html.twig' %}

{% block title %}Estado{% endblock %}

{% block body %}
<header>
    {{ parent() }}
</header>

<h5 class="m-4">Estado</h5>

    <div class="container-fluid text-center container-sm" style="padding:30px" >
    
        <table class="table table-bordered table-sm" style="border: 2px solid #E8550F">
            <thead>
                <tr class="table" style="background-color: #FFA37E; border: 2px solid #E8550F">
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for status in statuses %}
                <tr>
                    <td>{{ status.title }}</td>
                    <td>
                        <a href="{{ path('app_status_show', {'id': status.id}) }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">mostrar</a>
                        <a href="{{ path('app_status_edit', {'id': status.id}) }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">editar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" style="text-align: center;">No se encontraron registros</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_status_new') }}" class="btn btn-md m-4" style="background-color: #020100; color: #ffffff" >Crear nuevo estado</a>

    </div>

{% endblock %}
