{# {% extends 'base.html.twig' %} 

{% block title %}Envío de evaluación final al Responsable{% endblock %}

{% block body %}

{# {{ parent() }} #}

    {# <div class="col-sm-6-">
        <div class="card-">
            <div class="card-body">
                <h5 class="card-title">EVALUACIÓN FINAL RESPONSABLE</h5>
                    <p class="card-text">Por favor, introduce la dirección de correo electrónico para enviar un correo al responsable con un link para la evaluación final:</p>
                        
                        {{ form_start(formto) }}

                            {{ form_row(formto.email)}}
                            {{ form_row(formto.send_email)}}

                                {% for label, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ label }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}

                        {{ form_end(formto) }}
            </div>
        </div>
    </div>

{% endblock %}  #}



