{% extends 'base.html.twig' %}

{% block title %}Manager index{% endblock %}

{% block body %}
    <header>
       {{ parent() }}
    </header>		
		<div class="container-fluid" style="padding:60px" >
			<h5 class="m-4">Tabla de Responsables</h5>
			<table class="table table-bordered table-sm" style="border: 2px solid #E8550F">
				<thead>
					<tr class="table table-bordered table-md" style="background-color: #FFA37F; border: 2px solid #E8550F">
						<th>Nombre</th>
						<th>Nº de identificador</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for manager in managers %}
						<tr class="bg-white">
							<td>{{ manager.title }}</td>
							<td>{{ manager.identifying }}</td>
							<td>
									<a href="{{ path('app_manager_show', {'id': manager.id}) }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">mostrar</a>
									<a href="{{ path('app_manager_edit', {'id': manager.id}) }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">editar</a>
							</td>
					</tr>
				{% else %}
						<tr>
							<td colspan="3">no records found</td>
						</tr>
				{% endfor %}
				</tbody>
			</table>

				<a href="{{ path('app_manager_new') }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">Crear nuevo</a>
		</div>
</body>
{% endblock %}
