{% extends 'base.html.twig' %}

{% block title %}Roles{% endblock %}

{% block body %}
<header>
    {{ parent() }}
</header>

<h5 class="m-4">Roles</h5>

    <div class="container-fluid text-center container-sm" style="padding:30px" >
        <table class="table table-bordered table-sm" style="border: 2px solid #E8550F">
            <thead>
                <tr  class="table" style="background-color: #FFA37E; border: 2px solid #E8550F">
                    <th>Tipo de Rol</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for rol in rols %}
                <tr>
                    <td>{{ rol.title }}</td>
                    <td style:>
                        <a href="{{ path('app_rol_show', {'id': rol.id}) }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">mostrar</a>
                        <a href="{{ path('app_rol_edit', {'id': rol.id}) }}" class="btn  btn-md" style="background-color: #020100; color: #ffffff">editar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No se encontraron registros</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_rol_new') }}" class="btn btn-md m-4" style="background-color: #020100; color: #ffffff">Crear nuevo rol</a>
    </div>  

{% endblock %}
