{% extends 'base.html.twig' %}

{% block title %}Comentario{% endblock %}

{% block body %}
<header>
   {{ parent() }}
</header>

<h5 class="m-4">Comentario</h5>
    
    <section style="padding:30px">
        <div class="container-fluid container-sm text-center">
                <table class="table table-bordered table-sm" style="border: 2px solid #E8550F">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Fecha</th>
                            <th>Comentario</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for comment in comments %}
                        <tr>
                            <td>{{ comment.id }}</td>
                            <td>{{ comment.date ? comment.date|date('Y-m-d') : '' }}</td>
                            <td>{{ comment.comment }}</td>
                            <td>
                                <a href="{{ path('app_comment_show', {'id': comment.id}) }}">show</a>
                                <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>   
            <a href="{{ path('app_comment_new') }} class="btn btn-md m-4" style="background-color: #020100; color: #ffffff">CCrear nuevo comentario</a>
        </div>
    </section> 

{% endblock %}
