{% extends 'base.html.twig' %}

{% block title %}Period index{% endblock %}

{% block body %}
   <header>
        {{ parent() }}
    </header>
    <div class="container-fluid" style="padding:60px" >
    <h5>Periodo</h5>
    

    <table class="table table-bordered table-sm" style="border: 2px solid #E8550F">
        <thead>
            <tr class="table" style="background-color: #FFA37E; border: 2px solid #E8550F">
                <th>Duración del período</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for period in periods %}
            <tr>
                <td>{{ period.title }}</td>
                <td>
                    <a href="{{ path('app_period_show', {'id': period.id}) }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">mostrar</a>
                    <a href="{{ path('app_period_edit', {'id': period.id}) }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_period_new') }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">Crear nuevo</a>
{% endblock %}
