{% extends 'base.html.twig' %}

{% block title %}Period{% endblock %}

{% block body %}
<body >
    <header>
    {{ parent() }}
    </header>
    <div class="container-fluid" style="padding:60px" >
    <h5>Períodos</h5>
   

    <table class="table table-bordered" style="border: 2px solid #E8550F">
        <tbody>
            <tr >
                <th style="background-color: #FFA37E">Duración del período</th>
                <td>{{ period.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_period_index') }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">volver a la lista</a>

    <a href="{{ path('app_period_edit', {'id': period.id}) }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">editar</a>

    {{ include('period/_delete_form.html.twig') }}
{% endblock %}
