{% extends 'base.html.twig' %}

{% block title %}Periodo de prueba{% endblock %}

{% block body %}
<header>
    {{ parent() }}
</header>

<h5 class="m-4">Periodo de prueba</h5>

    <div class="container-fluid" style="padding:30px" >
    
    <table class="table table-bordered" style="border: 2px solid #E8550F">
        <tbody>
            <tr >
                <th style="background-color: #FFA37E">Duración del período</th>
                <td>{{ period.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_period_index') }}" class="btn btn-md m-4" style="background-color: #020100; color: #ffffff">Volver a la lista</a>

    <a href="{{ path('app_period_edit', {'id': period.id}) }}" class="btn btn-md m-4" style="background-color: #020100; color: #ffffff">Editar</a>

    {{ include('period/_delete_form.html.twig') }}

{% endblock %}
