{% extends 'base.html.twig' %}

{% block title %}Position{% endblock %}

{% block body %}
<body >
    <header>
    {{ parent() }}
    </header>
    <div class="container-fluid" style="padding:60px" >
    <h5>Position</h5>

    <table class="table table-bordered" style="border: 2px solid #E8550F">
        <tbody>
            <tr>
                <th  style="background-color: #FFA37E">Puesto</th>
                <td>{{ position.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_position_index') }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">volver a la lista</a>

    <a href="{{ path('app_position_edit', {'id': position.id}) }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">editar</a>

    {{ include('position/_delete_form.html.twig') }}
{% endblock %}
