{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}


{% block body %}

<header>
   {{ parent() }}
</header>



    {# <h1>Empleados</h1> #}
    <section class="seccion-employee">
        <div class="container-employee" style="margin-top: 40px, margin-right: 60px">
        <table class="table table-hover table-sm ">
            <thead "table-dark">
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    {# <th>Email</th> #}
                    <th>Identifying</th>
                    <th>Rol</th>
                    <th>Status</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>
                    <td>
                        <img src={{ asset('uploads/photos'~ employee.photo) }} alt={{ employee.name }} width='80'>
                    </td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.lastname }}</td>
                    {# <td>{{ employee.email }}</td> #}
                    <td>{{ employee.identifying }}</td>
                    <td>{{ employee.rol }}</td>
                    <td>{{ employee.status }}</td>

                    <td>
                        <a href="{{ path('app_employee_show', {'id': employee.id}) }}" class="btn btn-primary btn-sm">show</a>
                        <a href="{{ path('app_employee_edit', {'id': employee.id})  }}"  class="btn btn-primary btn-sm">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>

            <a href="{{ path('app_employee_new') }}" class="btn btn-primary btn-sm">Create new</a>
        </div>
    </section>
{% endblock %}
