{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}


{% block body %}
<header>
	{{ parent() }}
</header>

<h5 class="m-4">Detalle Empleado</h5>

	<section class="body-page">
					
		<div class="content-page detailForm">
			<div>
				<img src= "{{ asset('uploads/photo/'~ employee.photo) }}" alt="{{ employee.name }}" width='400'>
			</div>

			<table class="table-responsive table-bordered table-md" style="border: 2px solid #E8550F">

					<tbody class="bg-white">
						<div>
							<tr>
								<th class="caption" scope="col">Nombre</th>
								<td>{{ employee.name }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Apellido</th>
								<td>{{ employee.lastname }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Nº de Identificador</th>
								<td>{{ employee.identifying }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Email</th>
								<td>{{ employee.email }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Tipo de Rol</th>
								<td>{{ employee.rol }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Equipo</th>
								<td>{{ employee.team }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Puesto</th>
								<td>{{ employee.position }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Àrea</th>
								<td>{{ employee.area }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Tipo de Contrato</th>
								<td>{{ employee.typeOfContract }}</td>
							</tr>
							<tr>
							<th class="caption" scope="col">Responsable</th>
								<td>{{ employee.manager }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Periodo</th>
								<td>{{ employee.period }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Fecha de inicio</th>
								<td>{{ employee.startDate ? employee.startDate|date('D-m-y') : '' }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Fecha de Fin</th>
								<td>{{ employee.finishDate ? employee.finishDate|date('D-m-y') : '' }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Primer Seguimiento</th>
								<td>{{ employee.firstPeriod ? employee.firstPeriod|date('D-m-y') : '' }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Segundo Seguimiento</th>
								<td>{{ employee.secondPeriod ? employee.secondPeriod|date('D-m-y') : '' }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Tercer Seguimiento</th>
								<td>{{ employee.thirdPeriod ? employee.thirdPeriod|date('D-m-y') : '' }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Cuarto Seguimiento</th>
								<td>{{ employee.fourthPeriod ? employee.fourthPeriod|date('D-m-y') : '' }}</td>
							</tr>
							<tr>
								<th class="caption"scope="col">Quinto Seguimiento</th>
								<td>{{ employee.fifthPeriod ? employee.fifthPeriod|date('D-m-y') : '' }}</td>
							</tr>
							<tr>
								<th class="caption" scope="col">Estado</th>
								<td>{{ employee.status }}</td>
							</tr>
						</div>
					</tbody>
			</table>

		</div>

	</section>

	<a href="{{ path('app_employee_index') }}" class="btn btn-sm m-4" style="background-color: #020100; color: #ffffff">Volver a la lista</a>

	<a href="{{ path('app_employee_edit', {'id': employee.id}) }}" class="btn btn-sm m-4" style="background-color: #020100; color: #ffffff">Editar</a>

	{{ include('employee/_delete_form.html.twig')}}
		
	
{% endblock %}
