{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}


{% block body %}

		<header>
			{{ parent() }}
		</header>

    <h1>Employee</h1>
		<section class="body-page">
      <div class="content-page">
				<div>
					<h2>{{ employee.name }}</h2>
					<img src="{{ employee.photo }}" alt="{{ employee.name }} Photo">
					<p>{{ employee.description }}</p>
				</div>

    <table class="table ">
      <tbody>
				<div>
            <tr>
                <th scope="col">Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th scope="col">Name</th>
                <td>{{ employee.name }}</td>
            </tr>
            <tr>
                <th scope="col">Lastname</th>
                <td>{{ employee.lastname }}</td>
            </tr>
            <tr>
                <th scope="col">Email</th>
                <td>{{ employee.email }}</td>
            </tr>
            <tr>
                <th scope="col">Rol</th>
                <td>{{ employee.rol }}</td>
            </tr>
            <tr>
                <th scope="col">Identifying</th>
                <td>{{ employee.identifying }}</td>
            </tr>
            <tr>
                <th scope="col">Team</th>
                <td>{{ employee.team }}</td>
            </tr>
            <tr>
                <th scope="col">Position</th>
                <td>{{ employee.position }}</td>
            </tr>
            <tr>
                <th scope="col">Area</th>
                <td>{{ employee.area }}</td>
            </tr>
            <tr>
                <th scope="col">TypeOfDate</th>
                <td>{{ employee.typeOfContract }}</td>
            </tr>
            <tr>
                <th scope="col">StartDate</th>
                <td>{{ employee.startDate ? employee.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th scope="col">FinishDate</th>
                <td>{{ employee.finishDate ? employee.finishDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th scope="col">Manager</th>
                <td>{{ employee.manager }}</td>
            </tr>
            <tr>
                <th scope="col">Photo</th>
                <td>{{ employee.photo }}</td>
            </tr>
              <tr>
                <th scope="col">Status</th>
                <td>{{ employee.status }}</td>
            </tr>
					</div>
        </tbody>
    </table>

    <a href="{{ path('app_employee_index') }}" class="btn btn-outline-primary" style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .6rem; --bs-btn-font-size; margin-bottom: 20px">back to list</a>

    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}" class="btn btn-outline-primary" style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size; margin-bottom: 20px">edit</a>

    {{ include('employee/_delete_form.html.twig') }}
	</div>
{% endblock %}
