{% extends 'base.html.twig' %}

{% block title %}Tipo de contrato{% endblock %}

{% block body %}
<header>
    {{ parent() }}
</header>

<h5 class="m-4">Tipo de Contrato</h5>

<div class="container-fluid container-sm text-center" style="padding:30px" >
    <div style="display: flex; justify-content: center; margin-bottom: 50px">
        <table class="table table-bordered table-sm" style="border: 2px solid #E8550F; width: 50%">
            <thead>
                <tr class="table" style="background-color: #FFA37E; border: 2px solid #E8550F">
                    <th>Tipo contrato</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for contract in contracts %}
                <tr class="bg-white">

                    <td>{{ contract.title }}</td>
                    <td>
                        <a href="{{ path('app_contract_show', {'id': contract.id}) }}" class="btn btn-sm" style="background-color: #020100; color: #ffffff">mostrar</a>
                        <a href="{{ path('app_contract_edit', {'id': contract.id}) }}" class="btn btn-sm" style="background-color: #020100; color: #ffffff">editar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No se encontraron registros</td>
                </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    
    <a href="{{ path('app_contract_new') }}" class="btn btn-sm m-4" style="background-color: #020100; color: #ffffff">Crear nuevo tipo de contrato</a>

</div>  

{% endblock %}
