{% extends 'base.html.twig' %}

{% block title %}Tipo de contrato{% endblock %}

{% block body %}
<header>
    {{ parent() }}
</header>

<h5 class="m-4">Tipo de Contrato</h5>

    <div class="container-fluid container-sm text-center" style="padding:30px" >

    <table class="table table-bordered table-md" style="border: 2px solid #E8550F">
        <thead>
            <tr class="table" style="background-color: #FFA37E; border: 2px solid #E8550F">
                <th>Tipo contrato</th>
                <th></th>
            </tr>
        </thead>

        {% for contract in contracts %}
            <tr class="bg-white">

                <td>{{ contract.title }}</td>
                <td>
                    <a href="{{ path('app_contract_show', {'id': contract.id}) }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">mostrar</a>
                    <a href="{{ path('app_contract_edit', {'id': contract.id}) }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron registros</td>
            </tr>
        {% endfor %}
        
        </table>

    <a href="{{ path('app_contract_new') }}" class="btn btn-md m-4" style="background-color: #020100; color: #ffffff">Crear nuevo tipo de contrato</a>

    </div>  

{% endblock %}
