{% extends 'base.html.twig' %}

{% block title %}Comentarios{% endblock %}

{% block body %}
    <h1>Comentarios</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comentario.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ comentario.Titulo }}</td>
            </tr>
            <tr>
                <th>Comentario</th>
                <td>{{ comentario.comentario }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ comentario.fecha ? comentario.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comentarios_index') }}">back to list</a>

    <a href="{{ path('app_comentarios_edit', {'id': comentario.id}) }}">edit</a>

    {{ include('comentarios/_delete_form.html.twig') }}
{% endblock %}
