
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Factoría F5{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
        <!-- MDB -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet"/>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{ asset('css/stylesheet.css')}}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('js/navbar.js')}}"></script>
        {% endblock %}
    </head>
    <body>

        {% block body %}

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src={{ asset('assets/logo_sinfondo.png')}} height="60" width="70" alt="logo" loading="lazy"/>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarRightAlignExample">
                    <!-- Left links -->
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Página principal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Trabajadores</a>
                            </li>
                            <!-- Navbar dropdown -->
                            <li class="nav-item dropdown">
                            <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                            >
                            Enlaces modificación datos
                            </a>
                            <!-- Dropdown menu -->
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="#">Datos calendario</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Datos empleado</a>
                                    </li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Datos periodo</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Datos posición</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Datos rol</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Datos status</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Datos equipo</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Datos contrato</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Datos área</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                            <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                            >
                            Envío de correos
                            </a>
                            <!-- Dropdown menu -->
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="#">Correo al trabajador</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Correo al responsable</a>
                                    </li>
                                    <li><hr class="dropdown-divider" /></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Left links -->
                    </div>
                    <!-- Collapsible wrapper -->
                </div>
            </nav>

        {% endblock %}
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>

        <!-- MDB -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js">
        </script>

    </body>
</html>
