{% extends 'base.html.twig' %}

{% block title %}

{{ parent()}} - Página principal

{% endblock %}

{% block body %}

{{ parent() }}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}!</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/emmar/Documents/proyectos_emma_femcoders/pruebaFactoriaF5/src/Controller/DashboardController.php'|file_link(0) }}">src/Controller/DashboardController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/emmar/Documents/proyectos_emma_femcoders/pruebaFactoriaF5/templates/dashboard/index.html.twig'|file_link(0) }}">templates/dashboard/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
