{% extends 'base.html.twig' %}

{% block title %}Area{% endblock %}

{% block body %}
<body >
    <header>
    {{ parent() }}
    </header>
        <div class="container-fluid" style="padding:60px" >
        <h5>Áreas</h5>

        <table class="table table-bordered" style="border: 2px solid #E8550F">
            <tbody>
                <tr style="background-color: #FFA37E">
                    <th>Title</th>
                    <td>{{ area.title }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_area_index') }}" class="btn btn-md" style="background-color: #020100; color: #ffffff">volver a la lista</a>

        <a href="{{ path('app_area_edit', {'id': area.id}) }}" class="btn btn-md" style="background-color: #020100; color: #ffffff" >editar</a>

        {{ include('area/_delete_form.html.twig') }}
        </div>
{% endblock %}
