{% extends 'base.html.twig' %}

{% block title %}Áreas{% endblock %}

{% block body %}
<header>
    {{ parent() }}
</header>

<h5 class="m-4">Áreas</h5>

    <div class="container-fluid container-sm" style="padding:30px">

        <table class="table table-bordered table-sm" style="border: 2px solid #E8550F">
            <tbody>
                <tr>
                    <th style="background-color: #FFA37E">Título</th>
                    <td>{{ area.title }}</td>
                </tr>
            </tbody>
        </table>

    </div>    

        <a href="{{ path('app_area_index') }}" class="btn btn-md m-4" style="background-color: #020100; color: #ffffff">Volver a la lista</a>

        <a href="{{ path('app_area_edit', {'id': area.id}) }}" class="btn btn-md m-4" style="background-color: #020100; color: #ffffff">Editar</a>

        {{ include('area/_delete_form.html.twig') }}
        
{% endblock %}
